/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
yarn-error.log*
.yarn-integrity

tmp/
.idea/

.terraform/
.terraform.*
terraform.tfstate*

.DS_Store
