<!DOCTYPE html>
<html>
  <head>
    <title>RailsBoilerplate</title>
    <%= csrf_meta_tags %>

    <script defer src='https://use.fontawesome.com/releases/v5.0.8/js/all.js'></script>
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>

    <link type='text/css' href='/material-components-web.min.css' rel='stylesheet' />
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div id="root"></div>

    <%= yield %>

    <script src='/material-components-web.min.js'></script>
  </body>
</html>
